html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* ======================================================== */

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(0, 0, 0);
    background-image: url(img/avengers\ wallpaper.jpg);
    background-size: cover;
    background-position: 0 top;
    background-attachment: fixed;
}

/* Topbar */
.topbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    background-color: rgb(55, 55, 124);
    z-index: 999;
    border-bottom: 3px solid black;
}


.container{
    margin: 70px auto 0;
    width: 800px;
    box-sizing: border-box;
    background-color: white;
    position: relative;
}


/* Ribbon */
.ribbon{
    position: absolute;
    top: -15px;
    right: -18px;
}


/* Header */
.header{
    padding: 10px;
}
.header h1{
    font-size: 40px;
    font-weight: 600;
}


/* Navigator */
.navigator{
    margin-bottom: 10px;
    margin-top: 15px;
}
.navigator a{
    padding-right: 7px;
    font-size: 15px;
    border-right: 3px solid darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.navigator a:link{
    color: rgb(57, 186, 230);
}
.navigator a:visited{
    color: rgb(245, 97, 97);
}
.navigator a:hover{
    color: lightgreen;
}
.navigator a.none{
    border-right: none;
}


/* Image */
.img{
    border-top: 7px solid lightblue;
    border-bottom: 7px solid lightcoral;
    height: 300px;
    background-image: url(img/avengers\ wallpaper4.jpg);
    background-size: cover;
    background-position: 0 -95px;
}


/* Main */
.main{
    padding: 20px;
}
.main .artikel{
    width: 450px;
    padding-right: 25px;
    border-right: 3px solid black;
    float: left;
    margin-right: 20px;
    box-sizing: border-box;
}
.main .artikel h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.main .artikel h6{
    font-size: 15px;
    margin-bottom: 20px;
}
.main .artikel p{
    margin-bottom: 15px;
    line-height: 20px;
    text-indent: 20px;
    text-align: justify;
}
.main .artikel a{
    text-decoration: none;
    color: rgb(250, 131, 84);
}


/* Tentang Penulis */
.main .about h2{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0 10px;
}
.main .about img{
    width: 120px;
    float: left;
    margin-right: 10px;
}
.main .about p{
    /* text-align: justify; */
    line-height: 20px;
}



/* copyright */
.copyright{
    background-color: rgb(36, 36, 36);
    height: 45px;
}
.copyright h6{
    color: white;
    text-align: center;
    padding-top: 15px;
}

